USE [master]
GO
/****** Object:  Database [MyBlog]    Script Date: 10/5/2018 12:18:20 AM ******/
CREATE DATABASE [MyBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyBlog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MyBlog.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyBlog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MyBlog_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyBlog]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 10/5/2018 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Header] [text] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Content] [text] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Img] [text] NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/5/2018 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [text] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 10/5/2018 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Email] [text] NOT NULL,
	[Phone] [nchar](15) NOT NULL,
	[Company] [text] NOT NULL,
	[Message] [text] NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([ID], [Header], [CategoryID], [Content], [Date], [Img]) VALUES (1, N'Pho Bo Hanoi', 3, N'Pho Bo Hanoi is delicious, it''s everywhere so it''s easy to find one. Enjoy one of the best Vietnamese food in Hanoi', CAST(N'2018-04-19 13:30:27.000' AS DateTime), N'123a')
INSERT [dbo].[Blog] ([ID], [Header], [CategoryID], [Content], [Date], [Img]) VALUES (2, N'webfhjwb1', 4, N'shdjfbasdchjvqshjv', CAST(N'2003-02-10 13:30:27.000' AS DateTime), N'32u423')
INSERT [dbo].[Blog] ([ID], [Header], [CategoryID], [Content], [Date], [Img]) VALUES (3, N'NULLascas', 3, N'andcjsdvbsdfhj', CAST(N'2009-10-20 00:00:00.000' AS DateTime), N'32ueh23if')
SET IDENTITY_INSERT [dbo].[Blog] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (1, N'Art')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (2, N'Beauty')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (3, N'Food')
SET IDENTITY_INSERT [dbo].[Category] OFF
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Category1] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Category1]
GO
USE [master]
GO
